site_name: SPNKr Documentation

theme:
  name: material

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          show_root_heading: true
          show_source: false
          merge_init_into_class: true
          docstring_options:
            ignore_init_summary: true

nav:
  - Home: index.md
  - getting-started.md
  - basic-usage.md
  - Reference:
    - reference/authentication.md
    - reference/client.md
    - reference/services.md
    - reference/models.md
    - reference/reference-data.md
    - reference/tools.md
  
markdown_extensions:
  - tables
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details