[build-system]
requires = ['setuptools>=61.0.0', 'wheel']
build-backend = 'setuptools.build_meta'

[project]
name = 'halo-infinite-api'
description = 'Python API for requesting Halo Infinite multiplayer data.'
readme = 'README.md'
authors = [{name = 'Andy Curtis'}]
license = {file = 'LICENSE'}
classifiers = [
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
]
keywords = ['halo', 'infinite', 'api']
dependencies = ['ms-cv', 'orjson', 'requests', 'dataclass-wizard']
requires-python = '>=3.10'
dynamic = ['version']

[project.optional-dependencies]
dev = ['pytest']

[project.urls]
Homepage = 'https://github.com/acurtis166/halo-infinite-api'

# [project.scripts]
# realpython = 'reader.__main__:main'

[tool.setuptools.packages.find]
include = ['halo_infinite_api']

[tool.setuptools.dynamic]
version = {attr = 'halo_infinite_api.__version__'}